@{
  Layout = "_Layout";
}

@using AnimalShelter.Models;
@model List<AnimalShelter.Models.Animal>;

<h1>Find your Forever Friend!</h1>

@if(Model.Count == 0)
{
    <p>We have no animals in the shelter at this moment.</p>
    
}
else
{
    <p>@Html.ActionLink("Sort By Name", "Index", new { sortOrder = ViewBag.NameSortParm })</p>
    <p>@Html.ActionLink("Sort By Type", "Index", new { sortOrder = ViewBag.TypeSortParm })</p>
    <ul>
    @foreach(Animal animal in Model)
    {
        <li>@Html.ActionLink($"{animal.Name}", "Details", new { id = animal.AnimalId }) | @animal.Type.Name</li>
    }
    </ul>
}
<p>Do you know of an animal in need? Bring them to The Shelter; fill out the registration @Html.ActionLink("here", "Create").</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>